[GdmGreeterTheme]
Greeter=Argent40.xml
Name=Argent 4.0 Default GDM
Description=Argent 4.0 Default GDM v0.3
Author= Ian Whyman <ian.whyman@sabayonlinux.org>
Screenshot=F
Copyright=Sabayon Linux 2008-9. Argent Linux 2014
